body, html {
    cursor: url("/images/cursor_norm.png"),auto;
    height: 100%;
    background-color:#434655;
    background-image: url("/images/cabinet.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 28px;
    font-weight: 100;
    font-stretch: expanded;
    color: #30323D;
    padding-top: 225px;
    line-height: 0px;
}
p1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-stretch: expanded;
    color: #30323D;
}
p2{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #30323D;
    padding-left: 3em;
}

a{
    color:#5c80bc;
    text-decoration: none;
}

a:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    color:#56cdea;
    opacity: 1;
    text-decoration: none;
    cursor: url("/images/cursor_hover.png"),auto;
}

#content {
    margin-left: 33%;
    margin-right: 33%;
    width: 30%;
}

#game-start a{
    color:#5c80bc
}
#game-start:hover a:hover{
    color:#56cdea;
}
#iconbar {
    text-align: center;
    margin-top: 16%;
}